@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}
#menu {
    display: flex;
    justify-content: space-between;
    
}
.header{
    
    position: fixed;
}

#barre-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgb(67, 67, 67);
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #barre-menu span {
    flex:1;
    text-align: center;
    border: 50px;
    padding-left:35px;
    padding-right:35px;
    padding-top: 5px;
  }
  


  #logo{
    padding: 10px;
  }
  .conteneur-dropdown{
    padding-left: 200px;
  }
  .dropdownButton {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    padding-right: 30px;
    padding-top: 10px;
  }
  
  .dropdownButton-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }
  #icon{
    justify-content: center;
  }
  
  .dropdownContent {
    display: none;
    position:fixed;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(77, 77, 77, 0.2);
    z-index: 1;
    border-radius: 15px;
    right: 10px;
  }
  
  .dropdownContent a {
    color: black;
    padding: 1px 15px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown:hover .dropdownContent {
    display:block;
  }

  #scanner {
    padding-left: 1000px;
    padding-top: 20px;

  }
  
  #rond{
    border-radius: 10px;
  }
  
  .bas-de-page{
    background-color: aquamarine;
  }

.body{
    height: 1000px;
}



  .footer {
    background-color: #f3f3f3;
    padding: 50px 0;
  }
  
.bas-page{
    display: flex;
    gap: 100px;
    padding-left: 50px;
}
#titres-mentions-legales{
    display: grid;
    grid-template-columns: 250px 200px;
}

#liens-mentions-legales{
    display: grid;
    grid-template-columns: 250px 200px;
}
#conditions-d-utilisation{
padding-right: 100px;
}   

#checkbox-publicités{
    display: flex;
    gap: 10px;
}
#checkbox-nouveautés{
    display: flex;
    gap: 10px;
}
#input-email{
    border: 2px solid #F9B233;
    border-radius: 5px;
    padding: 5px;
    padding-right: 100px;
    padding-left: 10    px;
}
.input-checkbox{
    border: #F9B233;
}

#texte-newsletter{
  font-weight: 300;
  font-size: 12px;
}

#checkbox-publicités{
  font-weight: 300;
  font-size: 12px;
  
}
#checkbox-nouveautés{
  font-weight: 300;
  font-size: 12px;
}
