@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: #F9B233;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment:fixed;
    overflow: hidden;
}

#titreSite{
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#titreSite h1{
    color: white;
    font-size: 10vw;
    text-shadow: 0.5px 0 black, -0.5px 0 black, 0 0.5px black, 0 -0.5px black,
               0.25px 0.25px black, -0.25px -0.25px black, 0.25px -0.25px black, -0.25px 0.25px black, 0.12vw 0.12vw 0px black;
    font-weight: bolder;
    animation: float 5s ease-in-out infinite;
    z-index: 1;
}

#titreSite h1 span{
    color: #D39321;
}

@keyframes float {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  #buttonConnexion{
    background-color: white;
    cursor: pointer;
    width: 200px;
    font-size: 22px;
    font-weight:500;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 1px 1px 0px rgb(0, 0, 0);
    transition: transform 0.1s ease-in-out;
    z-index: 1;
}

#buttonConnexion:hover{
    transition: transform 0.1s ease-in-out;
    transform: translateY(3px);
}

#imageDeFond{
    position: absolute;
    z-index: 0;
}

#imageDeFondContainer{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;;
    overflow: hidden;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment:fixed;
    overflow: hidden;
}

#logo{
    margin: 30px;
    width: 15vw;
}

.textSection{
    width: 80%;
    display: flex;
    margin: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.article{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.article div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article img{
    width: 80%;
}

.article div p{
    margin-top: 40px;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}
