@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Oswald;
}

body {
    background-color: #F7F7F7;
}

header {
    height: 100px;
    background-color: rgb(24, 19, 19);
}

main {
    margin: 40px 0;
    height: 65vh;
}

#champ-vide {
    color: red;
    font-size: 1.5em;
    text-align: center;
}

/* Fenetre modale */
#modal {
    display: none;
}

#modal.visible {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    backdrop-filter: blur(3px);
    background-color: rgba(0,0,0,0.5);
}

#modalDesc {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 50%;
    border-radius: 30px;
    padding: 25px;
}

#modalDesc #input-pseudo {
    width: 95%;
    padding: 10px;
    border-radius: 30px;
    font-size: 1.2em;
    margin-bottom: 25px;
}

#modalDesc #tous-les-joueurs {
    width: 100%;
    height: 100%;
}

#modalDesc #resultat {
    text-align: center;
    font-size: 1.3em;
}

#modalDesc #tous-les-joueurs {
    margin-top: 25px;
    border-radius: 15px;
    overflow-y: scroll;
}
#modalDesc #tous-les-joueurs #no-correspondance {
    text-align: center;
    padding-top: 20px;
    color: #949494;
    font-weight: 300;
}

#modalDesc #tous-les-joueurs .unJoueur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(235, 235, 235);
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 5px 0;
    cursor: pointer;
}

#modalDesc #tous-les-joueurs .unJoueur .info-joueur {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#modalDesc #tous-les-joueurs .unJoueur .info-joueur .img-profil {
    width: 50px;
    border-radius: 50px;
    margin: 0 5px;
}
#modalDesc #tous-les-joueurs .unJoueur .info-joueur #pseudo {
    font-size: 1.1em;
    margin-left: 15px;
}
#modalDesc #tous-les-joueurs .unJoueur .lancer-nv-conv {
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(126, 126, 126);
    border-radius: 5px;
    color: white;
}


/* Fin Fenetre modale */

#messagerie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 25px 0;
}

#messagerie section {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 0px #777, 0px 10px 10px -5px RGBa(0, 0, 0, 0.5);
    height: 100%;
}

#messagerie #contacts {
    border-radius: 30px;
    width: 300px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#messagerie #contacts #nv-conv {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #949494;
    text-decoration: none;
    box-shadow: 0px 0px 0px #777, 0px 10px 10px -5px RGBa(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 80%;
    height: 50px;
    margin: 25px;
    letter-spacing: 2px;
    background-color: #F7F7F7;
}

#messagerie #contacts a {
    width: 100%;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#messagerie #contacts #tous-les-contacts {
    width: 100%;
    height: 100%;
    border-radius: 0 0 30px 30px;
    overflow-y: scroll;
}

#messagerie #contacts #tous-les-contacts #no-conversation {
    border-top: solid 1px #eeeeee;
    text-align: center;
    padding-top: 20px;
    color: #949494;
    font-weight: 300;
}

#messagerie #contacts .unContact {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: solid 1px #eeeeee;
}

#messagerie #contacts .unContact img {
    width: 65px;
    border-radius: 50px;
    margin: 0 5px;
}

#messagerie #contacts .unContact .infos-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    width: 100%;
}

#messagerie #contacts .unContact .nom-contact {
    font-size: 1.4em;
    font-weight: 400;
}

#messagerie #contacts .unContact .last-msg {
    font-size: 1.1em;
    color: #949494;
    font-weight: 300;
    height: 25px;
}

#messagerie #contacts .unContact .infos-contact p {
    width: 170px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#selected {
    background-color: #e2e2e2;
}

#messagerie #conversation {
    border-radius: 30px;
    width: 800px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#messagerie #conversation #info-conv {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #949494;
    font-weight: 300;
}

#messagerie #conversation #info-utilisateur {
    height: 100px;
    border-radius: 30px 30px 0 0;
    border-bottom: solid 1px #949494;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
}

#messagerie #conversation #tous-les-messages {
    margin-left: 25px;
    margin-right: 9px;
    height: 100%;
    overflow-y: scroll;
}

#messagerie #conversation #tous-les-messages #pas-de-msg {
    font-size: 1.1em;
    color: #949494;
    text-align: center;
    margin-bottom: 25px;
}

#messagerie #conversation #tous-les-messages .envoye {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 5px;
}

#messagerie #conversation #tous-les-messages .recu {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding-bottom: 5px;
}

#messagerie #conversation #tous-les-messages .msg-contenu {
    font-weight: 300;
    font-size: 1.2em;
    padding: 7px 12px;
    max-width: 70%;
}

#messagerie #conversation #tous-les-messages .envoye .msg-contenu {
    background-color: #f8b333c3;
    border-radius: 15px 0 15px 15px;
}

#messagerie #conversation #tous-les-messages .recu .msg-contenu {
    background-color: #DEDEE0;
    border-radius: 0 15px 15px 15px;
}

#messagerie #conversation #tous-les-messages .msg-date {
    font-weight: 300;
    font-size: 0.7em;
    color: RGBa(0, 0, 0, 0.75);
}

#messagerie #conversation #tous-les-messages .envoye .msg-date {
    padding-right: 10px;
}

#messagerie #conversation #tous-les-messages .recu .msg-date {
    padding-left: 10px;
}

#messagerie #conversation #saisie-message {
    height: 50px;
    border-radius: 15px;
    margin: 25px;
    margin-top: 5px;
}

#messagerie #conversation #saisie-message #form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border: 1px solid #949494;
}

#messagerie #conversation #saisie-message #form #msg-input {
    width: 95%;
    padding: 10px;
    border-radius: 30px;
    font-size: 1.2em;
    border-style: none;
}

#messagerie #conversation #saisie-message #form #msg-input:focus {
    outline: none;
}

#messagerie #conversation #saisie-message #form #msg-envoyer {
    cursor: pointer;
}

#messagerie #conversation #saisie-message #form #msg-envoyer-icon {
    width: 30px;
    margin-right: 8px;
}