@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#sectionResultat{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 70%;
    height: 20%;
}

.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
}

.versus{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.versus p{
    font-size: 50px;
}

.nomEquipe{
    overflow: visible;
    font-size: 24px;
    font-weight: bold;
}

.scoreEquipeContainer{
    height: 100%;
    margin-top: 20px;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    border: #E0E0E0 1px solid;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.scoreEquipe{
    font-size: 50px;
    font-weight: bold;
}

#sectionInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 20%;
    margin-top: 50px;
}

#sectionInformation h3{
    color :#606060;
    font-size: 30px;
}

#sectionInformation h4{
    font-size: 20px;
    font-weight: normal;
}

/* Responsive Tablet*/
@media screen and (max-width: 768px) {
    #sectionResultat{
        width: 70%;
        height: 40%;
    }

    .equipe{
        width: 100%;
        height: 40%;
    }

    .versus{
        width: 100%;
        height: 20%;
    }

    .versus p{
        font-size: 30px;
    }

    .nomEquipe{
        font-size: 17px;
    }

    .scoreEquipeContainer{
        width: 25%;
    }

    .scoreEquipe{
        font-size: 30px;
    }

    #sectionInformation{
        width: 100%;
        height: 40%;
    }

    #sectionInformation h3{
        font-size: 20px;
    }

    #sectionInformation h4{
        font-size: 15px;
    }
}

/* Responsive Mobile */
@media screen and (max-width: 685px) {
    #sectionResultat{
        width: 90%;
        height: 40%;
    }

    .equipe{
        width: 100%;
        height: 40%;
    }

    .versus{
        width: 100%;
        height: 20%;
    }

    .versus p{
        font-size: 30px;
    }

    .nomEquipe{
        font-size: 10px;
    }

    .scoreEquipeContainer{
        width: 25%;
    }

    .scoreEquipe{
        font-size: 30px;
    }

    #sectionInformation{
        width: 100%;
        height: 40%;
    }

    #sectionInformation h3{
        font-size: 20px;
    }

    #sectionInformation h4{
        font-size: 15px;
    }
}