html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

main {
    margin: 35px 0;
}

#titre {
    height: 130px;
    background-color: #F9B233;
    margin-top: 110px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
}
#titre h2 {
    font-size: 2.3em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
#titre .date {
    color: rgb(233, 233, 233);
}

#introduction {
    padding: 0 5%;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 50px;
}

#introduction p, #introduction ul {
    width: 50%;
}

#introduction p {
    padding-right: 5%;
}
#introduction ul {
    padding-left: 5%;
    border-left: 1px solid #F9B233;
}
#introduction ul li {
    list-style-type: decimal;
    color: #f9b233;
    list-style-position: outside;
}
#introduction ul li:hover {
    text-decoration: underline;
    text-decoration-color: #f9b233;
}
#introduction ul li a {
    color: black;
}

@media screen and (max-width: 680px) {
    #introduction {
        flex-direction: column;
    }

    #introduction p, #introduction ul {
        width: 100%;
    }

    #introduction p {
        padding-right: 0;
        padding-bottom: 15px;
    }
    
    #introduction ul li {
        line-height: 2;
    }
    #introduction ul {
        border: none;
    }
}

#developpement {
    padding: 0 5%;
}

#developpement article h3 {
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 1.8em;
}
#developpement article p, #developpement article ul li {
    font-size: 1.2em;
}
#developpement article p, #developpement article ul {
    padding-bottom: 10px;
}


#developpement #point7 p span {
    text-decoration: underline;
}
#developpement ul li {
    margin-left: 19px;
}