body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    align-items: center;
}


.divBarres {
    padding: 2.1%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 100%;
}

.barreReference {
    background: white;
    border-radius: 50%;
    margin-left: 10px;
    border: 10px solid white;
}

.logoST{
    height: 175px;
    margin-right: 10px;
}

.changePage {
    margin:5% 0 5% 0;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: #f9b233;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.changePage:hover {
    background-color: #b78022;
}




/* Masquer la fenêtre modale au départ */
#modal-container {
    display: none;
  }
  
/* Définir l'apparence de l'arrière-plan */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.938);
    z-index: 1;
    display: none;
}

/* Afficher la fenêtre modale et l'arrière-plan au clic sur le bouton */
#overlay.visible {
    display: block;
}

#modal-container.visible {
    display: block;
    height: 100vh;
    margin-top: 18vh;
}


/* Styler le contenu de la fenêtre modale */
#modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 40%;
}

/* Centrer l'image dans la fenêtre modale */
#modal-content img {
    align-items: center;
    height: 175px;
}

#modal-container button {
    margin-left: 50%;
}
  
  







@media screen and (max-width: 768px) {

    .logoST{
        height: 170px;
        margin-right: 3px;
    }

    .barreReference {
        background: white;
        border-radius: 50%;
        margin-left: 5px;
        border: 8px solid white;
    }

    .divBarres {
        width: 90%;
    }

    #modal-content {
        width: 90%;
    }

}

@media screen and (max-width: 425px) {

    .divBarres {
        padding: 0px 0px 0px 0px;
        width: 100%;
    }
    
    .barreReference {
        background: white;
        border-radius: 50%;
        margin-left: 5px;
        border: 5px solid white;
    }
    
    .logoST{
        height: 175px;
        margin-right: 10px;
    }
    #modal-content {
        width: 100%;
    }

}


@media screen and (max-width: 550px) {

    .divBarres {
        padding: 0px 0px 0px 0px;
        width: 100%;
    }
    
    .barreReference {
        background: white;
        border-radius: 50%;
        margin-left: 0px;
        border: 5px solid white;
    }

    #barreReference2{
        margin-left: 5px;
    }

    #barreReference4{
        margin-left: 5px;
    }
    
    .logoST{
        height: 175px;
        margin-right: 10px;
    }
    #modal-content {
        width: 100%;
    }
}