.div{
    margin-top: 100px;
}

.box1 {
    margin-top: 100px;
    margin:auto;
    max-width: 550px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.box2 {
    margin: 10px auto;
    max-width: 550px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

input.apple-switch {
    position: relative;
    appearance: none; outline: none;
    width: 50px; 
    height: 30px;
    background-color: #ffffff; border: 1px solid #D9DADC;
    border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 200ms;
}
input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px; left: 1px;
    width: 26px; height: 26px;
    background-color: transparent;
    border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}
input.apple-switch:checked {
    border-color: #F9B233;
    box-shadow: inset 20px 0 0 0 #F9B233;
}
input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #F9B233;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #ffd283;
}

.inp{
    border: none;
    background-color: rgb(242, 242, 242);
    padding: 10px;
    margin: 10px;
    width: 40%;
    border-radius: 10px;
}


@media screen and (max-width: 550px) {

.box1 {
    margin-top: 100px;
    margin:auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.box2 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}
.inp{
    border: none;
    background-color: rgb(242, 242, 242);
    padding: 10px;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
}
}